
@{
    ViewBag.Title = "HepatitisA";
    Layout = "~/Views/Dashboard/Index.cshtml";
}

<div align="center">
    <h1>HepatitisA</h1>
    <h5>Hepatitis A is a highly contagious liver infection caused by the hepatitis A virus. The virus is one of several types of hepatitis viruses that cause inflammation and affect your liver's ability to function. SEE MORE</h5>
</div>
<br />

<br />
<div class="container">
    <div class="row justify-content-around">

        <div class="col-4" style="color:white;background-color:dodgerblue;height:300px; width:40%" align="cen">
            <h3> Symptoms</h3>
            <ul>
                <li>Fatigue</li>
                <li>Fatigue</li>
                <li>Fatigue</li>
            </ul>
        </div>

        <div class="col-4" style="color:white;background-color:dodgerblue; height:300px; width:40%">
            <h3>Recommended Remedies</h3>
        </div>
    </div>
    <br />

    <br />
    <br />

    <div class="row justify-content-around">
        <div class="col-md-4" style="color:white; background-color:dodgerblue;height:300px; width:40%">
            This is a rectangle!
        </div>


        <div class="col-md-4">
            <button type="button" class="btn btn-info active" role="button" aria-pressed="true" onclick="location.href='@Url.Action("Specialist","Dashboard")'" >Contact Specialist</button>

            <br />
            <br />

            <button type="button" class="btn btn-info active" role="button" aria-pressed="true" onclick="location.href='@Url.Action("DietRecommendation","Dashboard")'" >Recommended Diet</button>

        </div>
    </div>
</div>

<div align="right">
    <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="location.href='@Url.Action("Allergy","Dashboard")'">
        Back
    </button>
</div>

