
@{
    ViewBag.Title = "ReportTwo";
    Layout = "~/Views/Dashboard/Index.cshtml";
}

<h2 align="center">ReportTwo</h2>

<button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="location.href='@Url.Action("Home","Dashboard")'"> BACK </button>

<div style="border:double; background-color:antiquewhite">

    <img src="~/Content/Capture2.GIF" alt="Italian Trulli" style="width:80%">
</div>

<button>
    <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="~/Content/Report2.pdf">Download Report</a>
</button>